<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>1000</particles>
  <batches>1000</batches>
  <inactive>100</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="box">
      <parameters>-30.7253 -30.7253 -100.0 30.7253 30.7253 100.0</parameters>
    </space>
    <constraints>
      <fissionable>true</fissionable>
    </constraints>
  </source>
  <temperature_method>interpolation</temperature_method>
</settings>
